html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

[data-us-project="GPpr4MReDZOYyaXPRnIL"] {
    width: 100vw;
    height: 100vh;
    display: block !important;
    background: black; /* Ensure it has a visible background */
}

canvas {
    display: block !important;
}
